// === mixin ===
@mixin font-main {
  font-family: "Spartan", sans-serif;
}

@mixin font-decoration {
  font-family: "Kaushan Script", cursive;
}

@mixin font-btn {
  font-family: "Open Sans", sans-serif;
}
// === // mixin ===

// === variables ===
$color-gray: #333;
$color-gray-light: #d6d6d6;
$color-gray-back: #f0f0f0;
$color-gray-blog: #999;
$color-white: #ffffff;
$color-pink: #db6689;
$color-pink-light: #e799b0;

// === //variables ===

// === common ===

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  @include font-main;

  color: #333;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  position: relative;
  z-index: 10;
}

// === title-block ===
.title-block {
  margin: 0 auto;
  margin-bottom: 80px;
  max-width: 860px;
  text-align: center;
  width: 100%;

  &__sup {
    @include font-decoration;

    font-size: 34px;
    margin-bottom: 10px;
  }

  &__sub {
    font-size: 42px;
    margin-bottom: 20px;
    text-transform: uppercase;

    &::after {
      content: "";
      background-color: $color-pink;
      display: block;
      height: 3px;
      margin: 30px auto;
      width: 60px;
    }
  }

  &__text {
    font-size: 26px;
    line-height: 1.4;
  }
}
// === // title-block ===

// === row-photo ===
.row-photo {
  display: flex;
  justify-content: space-between;

  &__item {
    background-color: $color-pink-light;
    position: relative;

    &:hover &-img {
      transform: translate3d(-10px, -10px, 0);

      img {
        opacity: 0.1;
      }
    }

    &:hover &-text,
    &:hover &-social {
      opacity: 1;
    }

    &-img {
      background-image: linear-gradient(to bottom right, #145364, #d9e2c3);
      transition: transform 0.2s linear;

      img {
        display: block;
        transition: opacity 0.2s linear;
      }
    }

    &-text {
      font-size: 18px;
      font-weight: 700;
      left: 0;
      opacity: 0;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 50%;
      transform: translate3d(0, -50%, 0);
      transition: opacity 0.2s linear;
      width: 100%;
    }

    &-social {
      left: 22%;
      position: absolute;
      top: 50%;
      opacity: 0;
      transform: translate3d(0, -50%, 0);
      transition: opacity 0.2s linear;
    }
  }
  &__person {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;

    &-name {
      text-transform: uppercase;
      color: $color-gray;
      margin-bottom: 6px;
    }
    &-position {
      text-transform: capitalize;
      color: $color-pink-light;
      font-style: italic;
    }
  }
}
// === row-photo ===

// === // common ===

// === header ===
.header {
  left: 0;
  padding-top: 40px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;

  &__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    font-size: 26px;
    font-weight: 700;
  }
  .nav {
    font-size: 14px;
    text-transform: uppercase;

    &__link {
      color: $color-gray;
      display: inline-block;
      margin: 0 20px;
      position: relative;
      text-decoration: none;
      transition: color 0.2s linear;

      &:hover {
        color: $color-pink;
        &::after {
          opacity: 1;
        }
      }

      &::after {
        background-color: $color-pink;
        content: "";
        left: 0;
        height: 3px;
        opacity: 0;
        position: absolute;
        top: 100%;
        transition: opacity 0.1s linear;
        width: 100%;
        z-index: 1;
      }
    }
  }
}
// === // header ===

// === intro ===
.intro {
  align-items: center;
  background: url("./assets/backImg.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  position: relative;
  width: 100%;

  &__inner {
    margin: 0 auto 40px;
    max-width: 880px;
    text-align: center;
    width: 100%;
  }

  &__suptitle {
    @include font-decoration;

    color: $color-gray;
    font-size: 80px;
    margin-bottom: 30px;
  }

  &__title {
    color: $color-pink;
    font-size: 130px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
  }

  .btn {
    @include font-btn;

    color: $color-pink;
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid $color-pink;
    border-radius: 50px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 36px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;

    &:hover {
      background-color: #db668980;
      border: 2px solid #db6689;
      color: $color-white;
    }
  }

  .slider {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;

    &__inner {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &__item {
      border-top: 3px solid $color-white;
      color: $color-white;
      font-size: 18px;
      padding: 20px 0;
      position: relative;
      text-transform: uppercase;
      width: 24%;
    }

    .active::before {
      background-color: $color-pink;
      content: "";
      height: 3px;
      left: 0;
      position: absolute;
      top: -3px;
      width: 90px;
      z-index: 1;
    }

    &__num {
      font-size: 24px;
      font-weight: 700px;
      margin-right: 10px;
    }
  }
}

// === // intro ===

// === about ===
.about {
  padding: 80px 0;
}

// === //about ===

// === statistics ===
.statistics {
  background-color: $color-pink;

  &__row {
    display: flex;
  }

  &__item {
    flex: 1 1 0;
    padding: 70px 30px;
    border-left: 2px solid $color-pink-light;
    text-align: center;

    color: $color-white;

    &:last-child {
      border-right: 2px solid $color-pink-light;
    }

    &-count {
      font-size: 50px;
      font-weight: 700;
    }
  }
}

// === // statistics ===

// === services ===
.services {
  padding: 80px 0;

  &__row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;

    &:last-child {
      border-top: 2px solid $color-gray-light;
      padding-bottom: 0;
      padding-top: 50px;
    }
  }
  &__item {
    flex: 1 1 0;
    padding: 0 30px 0 90px;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    &-img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 70px;
    }

    &-title {
      font-size: 26px;
      text-transform: uppercase;
      margin-bottom: 6px;
    }

    &-text {
      font-size: 14px;
    }
  }
}

// === // services ===

// === description ===

.description {
  background: url("./assets/back2Img.png") center no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  padding: 50px 0;

  &:before {
    content: "";
    background-color: rgba(255, 231, 235, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
  &__action {
    text-align: center;
    &-btn {
      @include font-btn;

      color: $color-pink;
      background-color: $color-white;
      border: 2px solid $color-pink;
      border-radius: 50px;
      display: inline-block;
      font-size: 18px;
      font-weight: 600;
      padding: 8px 54px;
      text-decoration: none;
      text-transform: uppercase;
      vertical-align: top;

      &:hover {
        background-color: $color-pink;
        border: 2px solid $color-pink;
        color: $color-white;
      }
    }
  }
  .title-block {
    margin-bottom: 50px;
  }
}

// === // description ===

// === promo ===

.promo {
  padding: 80px 0;

  &__content {
    display: flex;
    align-items: flex-start;
    width: 100%;

    &-img {
      flex-basis: 50%;
      margin-right: 40px;

      img {
        max-width: 560px;
        height: auto;
      }
    }

    &-accordion {
      flex-basis: 50%;
      margin-left: 40px;
    }
  }

  .accordion {
    &__item {
      border: 1px solid $color-gray-light;
      margin-bottom: 10px;

      &--active {
        .accordion {
          &__header {
            border-bottom: 1px solid $color-gray-light;
            &::after {
              transform: rotate(-45deg);
            }
          }

          &__text {
            display: block;
          }
        }
      }
    }

    &__header {
      padding: 10px 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 0;
      position: relative;

      &::after {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        border-top: 2px solid $color-gray-light;
        border-right: 2px solid $color-gray-light;
        position: absolute;
        right: 20px;
        top: 36%;
        z-index: 1;
        transform: rotate(135deg);
      }
    }

    &__icon {
      width: 44px;
      margin-left: 10px;
      margin-right: 30px;
    }
    &__title {
      font-size: 14px;
      text-transform: uppercase;
      color: $color-gray;
    }

    &__text {
      display: none;
      padding: 15px 20px;
      font-size: 16px;
      font-style: italic;
      font-weight: 300;
      color: $color-gray;
    }
  }
}

// === // promo ===

// === rewievs ===

.rewievs {
  background-color: $color-gray-back;
  padding: 60px 0;
  position: relative;

  &--second {
    background-color: $color-white;
    margin: 50px 0;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    &-img {
      border-radius: 50%;
      padding: 6px;
    }

    &-content {
      width: 60%;
      margin: 0 auto;
    }

    &-text {
      font-size: 20px;
      font-style: italic;
      color: $color-gray;
      line-height: 1.6;
      margin-bottom: 16px;
    }
    &-author {
      @include font-decoration;

      font-size: 26px;
      color: black;
      font-weight: 600;
      &::before {
        content: "";
        background-color: $color-pink;
        display: inline-block;
        height: 3px;
        width: 60px;
        vertical-align: middle;
        margin-right: 16px;
      }
    }
  }

  &::before,
  &::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    z-index: 1;
  }

  &::before {
    border-left: 2px solid $color-gray;
    border-bottom: 2px solid $color-gray;
    left: 70px;
    transform: rotate(45deg);
  }
  &::after {
    border-top: 2px solid $color-gray;
    border-right: 2px solid $color-gray;
    right: 70px;
    transform: rotate(45deg);
  }
}

// === // rewievs ===

// === team ===
.team {
  padding: 80px 0;
}
// === //team ===

// === logos ===

.logos {
  background-color: $color-white;
  padding: 30px 0;
  border-top: 2px solid $color-gray-light;
  border-bottom: 2px solid $color-gray-light;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// === //logos ===

// === works ===
.works {
  padding: 80px 0 0;
  &__examples {
    display: flex;
  }
  &__col {
    flex: 1 1 0;
  }
  &__item {
    position: relative;
    background-image: linear-gradient(to bottom right, #145364, #d9e2c3);
    transition: transform 0.2s linear;

    &-img {
      display: block;
      transition: opacity 0.2s linear;
    }

    &:hover &-img {
      opacity: 0.1;
    }

    &:hover &-info {
      opacity: 1;
    }

    &-info {
      position: absolute;
      left: 0;
      opacity: 0;
      top: 50%;
      font-size: 18px;
      text-align: center;
      transform: translate3d(0, -50%, 0);
      transition: opacity 0.2s linear;
      width: 100%;
      padding: 0 20px;
    }

    &-title {
      text-transform: uppercase;
      margin-bottom: 14px;
      font-weight: 700;
    }
  }
}

// === // works ===

// === clients ===
.clients {
  background: url("./assets/clientsback2.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  padding: 80px 0;

  &:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  &__group {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 45%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    &:nth-child(-n + 2) {
      margin-bottom: 60px;
    }

    &:nth-child(odd) {
      margin-right: 60px;
    }

    &-img {
      border-radius: 50%;
      padding: 6px;
      width: 22%;
      margin-right: 20px;
    }
  }

  &__review {
    &-name {
      text-transform: uppercase;
      font-size: 20px;
      margin-bottom: 4px;
    }

    &-position {
      text-transform: capitalize;
      font-style: italic;
      font-size: 14px;

      &::after {
        content: "";
        background-color: $color-pink;
        display: block;
        height: 3px;
        margin: 16px 0;
        width: 60px;
      }
    }
    &-text {
      font-size: 16px;
      line-height: 1.6;
    }
  }
}
// === // clients ===

// === blog ===
.blog {
  padding: 80px 0;

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 30%;
  }

  &__header {
    position: relative;
    margin-bottom: 14px;
  }
  &__data {
    position: absolute;
    bottom: 20px;
    left: -20px;
    z-index: 1;
    background-color: $color-pink;
    color: $color-white;
    text-align: center;
    font-style: italic;
    padding: 10px 20px;

    &-day {
      font-size: 30px;
      font-weight: 700;
      font-style: normal;
      line-height: 1;
    }
  }

  &__content {
    margin-bottom: 14px;

    &-title {
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 14px;
      font-weight: 700;

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    &-text {
      font-size: 15px;
      text-align: justify;
      color: $color-gray-blog;
    }
  }
  &__footer {
    border-top: 1px solid $color-gray-light;
    padding-top: 14px;
    font-weight: 400;
    font-style: italic;
    color: $color-gray-blog;
  }
  &__stat {
    display: inline-block;
    margin-right: 14px;
  }

  &__stat-icon {
    color: $color-pink;
    margin-right: 4px;
    text-align: center;
  }
}
// === // blog ===

// === map ===
.map {
  background: url("./assets/mapImg.png") center no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  padding: 60px 0;

  &:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
  &__title {
    display: flex;
    align-items: center;
    flex-direction: column;

    &::after {
      content: "";
      background-color: $color-pink;
      display: block;
      height: 3px;
      margin: 0 auto;
      width: 56px;
    }

    &-icon {
      color: $color-pink;
      margin-bottom: 12px;
    }
    .svg-inline--fa.fa-w-12 {
      width: auto;
      height: 30px;
    }

    &-text {
      font-size: 20px;
      font-weight: 700;
      text-decoration: none;
      color: $color-pink;
      text-transform: uppercase;
      margin-bottom: 16px;

      &:hover {
        color: $color-pink-light;
      }
    }
  }
}
// === // map ===
