// === mixin ===
@mixin font-main {
  font-family: "Spartan", sans-serif;
}

@mixin font-decoration {
  font-family: "Kaushan Script", cursive;
}

@mixin font-btn {
  font-family: "Open Sans", sans-serif;
}
// === // mixin ===

// === variables ===
$color-gray: #333;
$color-white: #ffffff;
$color-pink: #db6689;
// === //variables ===

// === common ===

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  @include font-main;

  color: #333;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
// === // common ===

// === header ===
.header {
  left: 0;
  padding-top: 40px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;

  &__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    font-size: 26px;
    font-weight: 700;
  }
  .nav {
    font-size: 14px;
    text-transform: uppercase;

    &__link {
      color: $color-gray;
      display: inline-block;
      margin: 0 20px;
      position: relative;
      text-decoration: none;
      transition: color 0.2s linear;

      &:hover {
        color: $color-pink;
        &::after {
          opacity: 1;
        }
      }

      &::after {
        background-color: $color-pink;
        content: "";
        opacity: 0;
        left: 0;
        height: 3px;
        position: absolute;
        top: 100%;
        transition: opacity 0.1s linear;
        width: 100%;
        z-index: 1;
      }
    }
  }
}
// === // header ===

// === intro ===
.intro {
  display: flex;
  align-items: center;
  position: relative;

  width: 100%;
  height: 100vh;

  background: url("./assets/backImg.jpg") center no-repeat;
  background-size: cover;

  &__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
  }

  &__suptitle {
    @include font-decoration;

    font-size: 80px;
    color: $color-gray;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 130px;
    color: $color-pink;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 700;
  }

  .btn {
    @include font-btn;

    display: inline-block;
    color: $color-pink;
    border: 2px solid $color-pink;
    font-size: 18px;
    vertical-align: top;
    border-radius: 50px;
    padding: 8px 36px;
    text-decoration: none;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.600);
    text-transform: uppercase;
    
    &:hover {
      border: 2px solid $color-white;
      background-color: rgba(255, 192, 203, 0.600);
      color: $color-white;
    }
  }

  .slider {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1;

    &__inner {
    }
    &__item {
    }

    &__num {
    }

    &__text {
    }
  }
}

// === // intro ===
